*.swp
*.o
*.d
*.obj
*.OBJ
*.exe
*.EXE
*.lnk
*.LNK
*.lbc
*.LBC
*.lib
*.LIB
*.err
*.ERR
*.log
*.LOG
Debug
Release
*.suo
*sdf
demo
*.zip
*.ZIP
data
*.a
*.dll
*.occ
*.OCC
*.map
*.MAP
*.CFG
*.cfg
*.$$$
/dosdemo.vcxproj.user
*.dep
*.DEP
*.odj
*.COF
*.dja
*.DJA
tools/csprite/csprite
cspr/
tools/img2bin/img2bin
tools/ropesim/ropesim
tools/gltest/test
RUN
*.dae
*.mtl
*.glb
*.blend*
*.ppm
*.png
*.user
.vs/
*.emo
*.ema
*.wasm
*.js
*.html
*.data
