name: GNU/Linux ARM build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-22.04-arm

    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: |
        sudo dpkg --add-architecture armhf
        sudo apt-get update
        sudo apt-get install gcc-arm-linux-gnueabihf libgl-dev:armhf libpng-dev libjpeg-dev libasound2-dev:armhf subversion imagemagick

    - name: prepare datafiles
      run: |
        svn export svn://mutantstargoat.com/datadirs/dosdemo data
        tools/procdata
        rm -r data/bin data/src

    - name: build demo
      run: |
        make BUILD=release

    - uses: actions/upload-artifact@v4
      with:
        name: demo-gnulinux-arm
        path: |
          data/
          demopi
          demo.seq

# vi:ts=2 sts=2 sw=2 expandtab:
